.del {
    color: #000000;
    border: none;
    padding: 5px 9px;
    cursor: pointer;
    float: right;
  }
  
.todo {
    background: white;
    padding: 10px;
    margin-bottom: 5px;
}

.is-complete {
    text-decoration: line-through;
}

button {
    display: flex;
    width: 100px;
    height: 24px;
    margin-right: 10px;
}

#destroy {
    width: 10px;
}
